/* navber-section */
.navber {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    border-bottom: 1px solid #ddd;
    background-color: white;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 50px;
    height: 80px;
}

.nav-menu {
    display: flex;
    list-style: none;
    gap: 30px;
    align-items: center;
}

.nav-menu li a {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    font-weight: 500;
}

.cart a img {
    height: 15px;
    width: 20px;
}

.cart a {
    font-weight: bold;
}

/* responsive */
@media screen and (max-width:578px) {
    .nav-menu li:not(.cart) {
        display: none;
    }

    .logo span {
        font-size: 1.4rem;
    }

    .cart a {
        font-size: 0.9rem;
    }
}

/* banner saction */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.banner-text {
    flex: 1;
}

.banner-text h1 {
    font-size: 40px;

}

.banner-text h1 {
    color: #c0392b;
    font-weight: bold;
}

.bold {
    color: black;
}

/* responsive */
@media screen and (max-width:578px) {
    .banner {
        flex-direction: column-reverse;
        text-align: left;
    }

    .banner-img {
        margin-top: 20px;
    }

}

/* plant-saction */
.plants {
    text-align: center;
    padding: 50px 20px;
    background: #fff;
}

.ours {
    color: orangered;
}

.plants-tittle h2 {
    font-size: 32px;
    font-weight: bold;
    color: #333;
}

.plants-tittle p {
    margin-top: 10px;
    font-size: 16px;
    color: #555;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;

}

.plants-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;


}

.plant-card {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    background-color: #fafafa;
    text-align: center;


}

.plant-card img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.plant-card h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.price {
    font-size: 24px;
    color: #444;
    margin-bottom: 10px;

}

.plant-card button {
    background: #e67e22;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    width: 100%;
}

.plant-card button:hover {
    background: #d35400;
}



@media screen and (max-width:578px) {
    .plants-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

.plants-lover {
    padding: 60px 20px;
    background-color: #f9f9f9;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.image-box {


    flex: 1 1 400px;
    max-width: 500px;
    padding: 10px;
}

.image-box img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}




.content-box {
    flex: 1 1 400px;
    padding: 10px 30px;
    text-align: left;
}

.content-box h2 {
    font-size: 42px;
    margin-bottom: 20px;
}

.content-box ul {
    list-style-type: disc;
    padding-left: 20px;
}

.content-box li {
    margin-bottom: 12px;
    line-height: 1.6;
}

@media screen and (max-width:578px) {
    .container {
        flex-direction: column;
    }

    .content-box {
        text-align: center;
        padding: 20px 10px;
    }

    .content-box ul {
        text-align: left;
        padding-left: 40px;
    }
}

/* latest-deal-section(challange part) */

.latest-deals {
    text-align: center;
    padding: 50px 20px;
    background: #fff;
}

.deals-header h2 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.deals-header h2 span {
    color: #e63946;

}

.deals-header p {
    font-size: 14px;
    color: #555;
    max-width: 600px;
    margin: 0 auto 40px;
    line-height: 1.6;
}

.deals-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
    max-width: 1184px;
    margin: 0 auto;
}

.deal-card {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.big-card {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

.deal-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.deal-text {
    position: absolute;
    bottom: 50px;
    left: 75px;
    color: #fff;
    text-align: center;
    padding: 50px;
}

.deal-text h3 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 8px;
}

.btn {
    color: #fff;
    padding: 8px 16px;
    text-decoration: underline;
    font-size: 20px;
    font-weight: bold;

}

@media screen and (max-width:578px) {
    .deals-grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .big-card {
        grid-column: auto;
        grid-row: auto;
    }

    .deal-card img {
        height: 220px;
    }

    .deal-text {
        bottom: 15px;
        left: 15px;
        padding: 8px 12px;
    }
}









/* join section */
.join-section {
    background-image: url(./B12A02-Responsive-Flowers/assets/news-letter-bg.png);
    background-size: cover;
    background-position: center;
    padding: 100px 20px;
    text-align: center;
    color: white;
}

.join-section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    justify-content: center;
    margin: auto;
}

.input-group input {
    padding: 10px;
    border: none;
    border-radius: 4px 0 0 4px;
    width: 600px;
}

.input-group button {
    padding: 10px 20px;
    background-color: orange;
    border: none;
    color: white;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}


@media screen and (max-width:578px) {
    .input-group {
        flex-direction: column;
    }

    .input-group input,
    .input-group button {
        border-radius: 4px;
        margin-bottom: 10px;
        width: 100%;
    }
}

/* footer-section */
.footer {
    background: fff;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px 60px;
    border-top: 1px solid #ddd;
}

.footer-left {
    max-width: 300px;

}

.footer-left.logo {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.footer-left.logo img {
    width: 40px;
    height: 40px;
    margin-right: 8px;

}

.footer-left p {
    font-size: 14px;
    line-height: 1.6;
}

.footer-links {
    display: flex;
    gap: 60px;
}

.footer-links ul {
    list-style: none;

}

.footer-links ul li {
    margin-bottom: 8px;

}

.footer-links ul li a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

.footer-links ul li a:hover {
    color: #e63946;
}

.footer-social a {
    margin-left: 12px;
    color: #333;
    font-size: 18px;
    text-decoration: none;
}

.footer-social a:hover {
    color: #e63946;
}

@media screen and (max-width:578px) {
    .footer {
        flex-direction: column;
        text-align: left;
        padding: 20px;
    }

    .footer-links {
        flex-direction: column;
        gap: 10px;
        margin: 20px 0;

    }



    .footer-social {
        margin-top: 1opx;
    }
}